body {
  margin: 0;
  background-color: beige;
  text-align: center;
}

#canvas {
  margin-left: 100px;
  background-color: rgba(255, 248, 248, 0.993);
  border: 1px rgba(133, 120, 250, 0.507) solid;
  border-radius: 5px;
}