body {
  margin: 0;
  background-color: rgba(45, 184, 103, 0.733);
  text-align: center;
}

#canvas {
  margin-left: 100px;
  background-color: rgba(255, 248, 248, 0.993);
  border: 1px rgba(133, 120, 250, 0.507) solid;
  border-radius: 5px;
}

.canvas-control {
  padding: 20px;
  font-size: 17px;
  border: 1px solid rgba(44, 38, 3, 0.603);
  border-radius: 5px;
  background-color: rgba(253, 252, 246, 0.747);
}